.body{
    margin-top: 50px;
}
.search-form{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.438);
    display: flex;
    justify-content: center;
    min-height: 50px;
    padding: 5;
    }
    
    .search-form input{
    border-radius: 10px;
    padding: 0px 10px;
    }
    
    .search-form button{
    border-radius: 10px;
    background-color: rgb(169, 169, 236);
    margin-left: 10px;
    transition: background-color linear 250ms;
    }
    
    .search-form button:hover{
        background-color: rgba(169, 169, 236, 0.411);
    }

.info{
        display: flex;
justify-content: space-between;
padding: 0 20px;
    }
.link{
    display: block;
    width: 300px;
    // height: 300px;

    
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }

.photo-card img{
    display: block;
    width: 100%;
    height: auto;
   
}

.photo-card{
    outline: solid 1px grey;
    margin: 5px;
}

.loader{
    display: block;
    margin: 0 auto;

}

.btn-info.hiden{
    display: none;
}

.hiden{
    display: none;
}

.btn-info{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}